[submodule "rapidcsv"]
	path = extern/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/tomlplusplus"]
	path = extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "extern/progressbar"]
	path = extern/progressbar
	url = https://github.com/gipert/progressbar.git
[submodule "tex/luatex-preamble"]
	path = tex/preamble
	url = git@github.com:MaximilianMoeller/luatex-preamble.git
